.login-pf body {
    background: url("../img/login-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

/*div.kc-logo-text {*/
/*    background-image: url(../img/logo-text.png);*/
/*    background-repeat: no-repeat;*/
/*    height: 63px;*/
/*    width: 10px;*/
/*    margin: 0 auto;*/
/*}*/